{% extends 'layout.html' %}

{% block content %}
{% if user.is_authenticated %}
    <br><br><br><br>
    <div class="container">

        <div class="row justify-content-center align-items-center">

            <table align="center">
            {% if result %}
            <div class="card my-5 w-75" style="background-color:#C0C0C0; border-color:#696969; border-width:10px; color:black;">
                <div class="card-body">
                <h5 class="card-title">
                    <br>Eklemek istediğiniz IP adresine ait cihazın bilgileri aşağıdaki gibidir. Emin misiniz?
                    <hr color:"#696969"></hr>
                </h5>
                <p class="card-text"><b>Hedef IP:</b> {{targetIP}}<br>
                    <br>
                    {% for key, value in result.items %}
                        <b>{{key}}:</b> {{value}}
                        <br><br>
                    {% endfor %}
                </p>
                <div class="form-group">
                        <form action="{% url 'deviceaddconf' %}" method='POST'>
                        {% csrf_token %}
                <input type="submit" name="select" class="btn btn-secondary btn-lg btn-block" value="Evet"> <input type="submit" name="select" class="btn btn-secondary btn-lg btn-block" value="Hayır">
                    </form>
                    </div>
                </div>
            </div>
            {% else %}
            {% endif %}
            </table>
        </div>
        

    </div>

    <br><br>
    
{% else %}
<br>
<h1> Hata ! </h1>
{% endif %}

{% endblock %}